<div class="panel panel-primary"
     ng-controller="projectListCtrl as vm">

    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">Project List</h3>
            </div>
            <div class="col col-xs-6 text-right">
                <a ui-sref="productEdit({id:0})" style="color:white">
                    <i class="glyphicon glyphicon-plus" style="color:white"></i>
                    Add Product
                </a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Project Name</td>
                    <td>Description</td>
                    <td>Date Created</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.projects">
                    <td>
                        <a ui-sref="productEdit({id:project.id})">{{ project.name }}</a>
                    </td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.dateCreated | date }}</td>
                    <td>
                        <a ui-sref="productEdit({id:project.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-remove" ng-click="vm.deleteProject(project.id)"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>