<div class="page-header">
    <h3>{{vm.title}}</h3>
</div>
<form class="form-horizontal" name="projectForm" novalidate>
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputDescription">Project Name</label>
            <div class="col-md-10">
                <input class="form-control"
                       id="inputProjectName"
                       name="inputProjectName"
                       type="text"
                       placeholder="Project Name (required)"
                       ng-model="vm.project.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="30" />
            </div>
            <span class="help-block has-error">
                <span ng-show="projectForm.inputProjectName.$error.required">
                    Project name is required.
                </span>
                <span ng-show="projectForm.inputProjectName.$error.minlength">
                    Project name must be at least 4 characters in length.
                </span>
                <span ng-show="projectForm.inputProjectName.$error.maxlength">
                    Project name cannot exceed 30 characters in length.
                </span>
            </span>
        </div>
        <!-- TODO: Insert date on form -->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputProjectDescription">Description</label>

            <div class="col-md-10">
                <input class="form-control"
                       id="inputProjectDescription"
                       name="inputProjectDescription"
                       type="text"
                       placeholder="Description (required)"
                       ng-model="vm.project.description"
                       required
                       ng-minlength="4"
                       ng-maxlength="200" />
            </div>
            <span class="help-block has-error"
                  ng-show="projectForm.inputProjectDescription.$error.required">
                Project description is required
            </span>
            <span class="help-block has-error"
                  ng-show="projectForm.inputProjectDescription.$error.minlength">
                Project description must be at least 4 characters in length.
            </span>
        </div>

        <div class="row">
            <div class="col col-xs-6">
                <h3 style="margin-top: 0px;">{{vm.project.name}} Stages</h3>
            </div>
            <div class="col col-xs-6 text-right">
                <a ui-sref="stageEdit({projectId:vm.project.id, stageId:0})" style="color:black">
                    <i class="glyphicon glyphicon-plus" style="color:black"></i>
                    Add Stage
                </a>
            </div>
        </div>
        <div class="row">
            <div class="draggableList col-md-10 col-md-offset-2">
                <ul dnd-list="vm.list" class="list-group">
                    <li ng-repeat="item in vm.list"
                        dnd-selected="vm.selected = item"
                        dnd-draggable="item"
                        dnd-moved="vm.stageMoved($index)"
                        dnd-effect-allowed="move"
                        ng-class="['list-group-item', {'selected': vm.selected === item}]">
                        <h4 class="list-group-item-heading">{{item.name}}</h4>
                        <p class="list-group-item-text">
                            {{item.description}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="button" ng-click="vm.submit(projectForm.$valid)" ng-disabled="projectForm.$invalid">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel(projectForm)">Cancel</button>
        </div>
    </fieldset>
</form>
