<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="projectForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="inputDescription">Project Name</label>
                <div class="col-md-4">
                    <input class="form-control"
                           id="inputProjectName"
                           name="inputProjectName"
                           type="text"
                           placeholder="Project Name (required)"
                           ng-model="vm.project.name"
                           required
                           ng-minlength="4"
                           ng-maxlength="30" />
                </div>
            </div>
            <!-- TODO: Insert date on form -->
            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="inputDescription">Description</label>

                <div class="col-md-4">
                    <input class="form-control"
                           id="inputDescription"
                           name="inputDescription"
                           type="text"
                           placeholder="Description (required)"
                           ng-model="vm.project.description"
                           required
                           ng-minlength="4"
                           ng-maxlength="200" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="vm.cancel(projectForm)">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>